body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  padding-left: 15px;
  font-size: 25px;
}

p {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif; 
  line-height: 30px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 35px;
  }
}

.ProjectCardImage:hover {
  opacity: 0.5;
}

.Landing {
  width: 100%;
  height: 100%;
  position: relative;
}

.Landing img {
  width: 100%;
  object-fit: cover;
  overflow: hidden; 
}

.Landing-Info-Area {
  height: 200px;
  position: absolute;
  margin: auto;
  top: -300px;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 600px) {
  .Landing-Info-Area {
    width: 800px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.Landing-Info-Area h1 {
  font-size: 42px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-top: 40px;
}

.ColoredH1 {
  color: rgb(165, 209, 214);
}

.DiamondShape {
  background: #fff;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-width: 5px;
  border-radius: 200px;
  overflow: hidden;
}

.Name {
  width: 230px;
  margin: 0 auto;
  margin-top: 50px;
  color: rgb(240, 240, 240);
}

.Name h1 {
  margin-bottom: 0px;
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .Name {
    width: 420px;
    margin: 0 auto;
    margin-top: 50px;
    color: rgb(240, 240, 240);
  }
  .Name h1 {
    margin-bottom: 0px;
    font-size: 35px;
  }
}

.Background-Img {
  background-image: url("https://i.imgur.com/rFwhEOD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.Landing-Buttons-Area {
  width: 0px;
  visibility: hidden;
}

@media only screen and (min-width: 600px) {
  .Landing-Buttons-Area {
    width: 100%;
    visibility: visible;
    position: absolute;
    bottom: 50px;
  }
}

.Landing-Buttons-Wrapper {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .Landing-Buttons-Wrapper {
    width: 840px;
    margin: 0 auto;
  }
}

.Landing-Buttons {
  height: 75px;
  width: 150px;
  margin: 0 30px;
  float: right;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 7px;
}

.Landing-Buttons:focus, input[type="button"]:focus {
  outline: none;
}

.Landing-Buttons:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.Landing-Buttons:active {
  background-color: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);
}

.Subtitle h1 {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0px;
  color: rgb(150, 150, 150);
}

.ExternalLogo-Wrapper {
  width: 240px;
  height: 40px;
  margin: 0 0;
  margin-top: 50px;
  margin-left: 30px;
}

.ExternalLogo {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 40px;
  margin-left: 0px;
}

.ExternalLogo img {
  width: 100%;
  height: 100%;
}

.Card {
  width: 100%;
  margin: 50px auto;
}

.Card p {
  margin-left: 30px;
  margin-right: 30px;
}

@media only screen and (min-width: 600px) {
  .Card {
    width: 1000px;
    margin: 50px auto;
  }
  .Card p {
    margin-left: 30px;
    margin-right: 200px;
  }
}

.Employment {
  overflow: hidden;
  position: relative;
}

.Projects {
  overflow: hidden;
  position: relative;
}

.ProjectCard {
  width: 210px;
  height: 210px;
  margin: 20px;
  float: left;
}

.ProjectCard img {
  width: 100%;
}

.ProjectCard-Wrapper {
  width: 100%;
  height: 100%;
}

.ProjectCard-A {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  float: left;
  overflow: hidden;
}

.ProjectCard-A h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin: 0;
  padding-right: 10px;
  margin-bottom: 10px;
}

.ProjectCard-A p {
  font-size: 16px;
  margin: 0;
  line-height: 28px;
  padding-right: 10px;
}

.ProjectCard-B {
  width: 800px;
  height: 800px;
  border-right-style: solid;
  border-right-color: gray;
  border-right-width: 1px;
  float: left;
  text-align: right;
}

.Skills {
  overflow: hidden;
  position: relative;
}

.SkillCard-Wrapper {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .SkillCard-Wrapper {
    width: 975px;
    margin: 0 auto;
  }
}

.SkillCard {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
}


.SkillCard h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  margin: 0;
  color: rgb(86, 137, 166);
}

.SkillCard ul {
  padding: 0;
  margin: 0;
}

.SkillCard li {
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
}

.EmploymentCard {
  padding-left: 30px;
}

.EmploymentCard h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin: 0;
}

.EmploymentCard h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 10px;
}

.EmploymentCard p {
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 30px;
}

.EmploymentCard-imgWrapper {
  height: 175px;
  width: 0px;
  float: left;
  margin: 0px;
  visibility: hidden;
}

.EmploymentCard-imgWrapper-longer {
  height: 175px;
  width: 0px;
  float: left;
  margin: 0px;
  visibility: hidden;
}

@media only screen and (min-width: 600px) {
  .EmploymentCard {
    padding-left: 0px;
  }
  .EmploymentCard-imgWrapper {
    height: 175px;
    width: 25px;
    float: left;
    margin-right: 25px;
    margin-left: 30px;
    visibility: visible;
  }
  .EmploymentCard-imgWrapper-longer {
    height: 175px;
    width: 25px;
    float: left;
    margin-right: 25px;
    margin-left: 30px;
    visibility: visible;
  }
}