body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 40px;
}

p {
 font-size: 20px;
  font-family: 'Quicksand', sans-serif; 
  line-height: 40px;
}

.Landing {
  width: 100%;
  height: 100%;
  position: relative;
}

.Landing img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.Landing-Info-Area {
  width: 100%;
  position: absolute;
  bottom: 250px;
}

.Landing-Info-Area h1 {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 25px;
  text-align: center;
}

.DiamondShape {
  background: #fff;
  width: 250px;
  height: 250px;
  text-align: center;
  transform:rotate(45deg);
  margin: 0 auto;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(39, 39, 39);
  border-width: 3px;
}

.Landing-Buttons-Area {
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.Landing-Buttons-Wrapper {
  width: 720px;
  margin: 0 auto;
}

.Landing-Buttons {
  height: 100px;
  width: 180px;
  margin: 0 30px;
  float: right;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(39, 39, 39);
  border-width: 3px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.Landing-Buttons:focus, input[type="button"]:focus {
  outline: none;
}

.Landing-Buttons:hover {
  background-color: rgb(39, 39, 39);
  color: white;
}

.Landing-Buttons:active {
  background-color: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);
}

.ExternalLogo-Wrapper {
  width: 160px;
  height: 40px;
  margin: 0 auto;
}

.ExternalLogo {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

.ExternalLogo img {
  width: 100%;
  height: 100%;
}

.Card {
  width: 50%;
  margin: 100px auto;
}

.ProjectCard {
  width: 100%;
}

.ProjectCard-Wrapper {
  width: 100%;
  height: 150px;
  margin: 50px auto;
}

.ProjectCard-A {
  width: 49%;
  height: 100%;
  border-right-style: solid;
  border-right-color: gray;
  border-right-width: 1px;
  float: left;
  text-align: right;
}

.ProjectCard-A h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin: 0;
  padding-right: 10px;
  margin-bottom: 10px;
}

.ProjectCard-A p {
  font-size: 16px;
  margin: 0;
  line-height: 28px;
  padding-right: 10px;
}

.ProjectCard-B {
  width: 49%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.SkillCard-Wrapper {
  width: 900px;
  margin: 0 auto;
  height: 405px;
}

.SkillCard {
  width: 250px;
  margin: 25px;
  float: left;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

.SkillCard h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 30px;
}

.SkillCard ul {
  padding: 0;
  margin-bottom: 30px;
}

.SkillCard li {
  list-style-type: none;
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-align: center;
}